.container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 28px;
  left: 28px;
  z-index: 999999;
  text-decoration: none;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  font-size: 1rem;
}
.list {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  top: 60px;
  right: 0px;
  list-style-type: none;
  text-align: center;
  overflow-x: hidden;
  z-index: 999;
  transition: all 1s;
  padding-bottom: 20px;
}

.list li {
  text-decoration: none;
}

.menuListContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 18px;
  align-items: center;
}

.toggleButton {
  border: none;
  background-color: transparent;
  color: inherit;
}

.hide {
  right: 100%;
  transition: all 1s;
  overflow-x: none;
}

@media (min-width: 716px) {
  .list {
    position: inherit;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 1rem;
  }

  .menuListContainer {
    flex-direction: row;
  }

  .toggleButton {
    display: none;
  }
}
