.container {
  padding-top: 92px;
  overflow-x: hidden;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  min-width: 300px;
  border-radius: 10px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 32px;
}

.projectTitle {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1.2rem;
}

.socialContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tehnology,
.social {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.description {
  margin-top: 24px;
}

.buttons {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: flex-end;
}

.button {
  padding: 0.75rem;
  background-color: #3474f3;
  border: none;
  border-radius: 6px;
  color: #f7f3f3;
}

.button:hover {
  cursor: pointer;
}

@media (min-width: 716px) {
  .project {
    margin: 0 auto;
    width: 550px;
    padding: 1rem;
  }
}
@media (min-width: 1124px) {
  .projects {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .project {
    margin: 0;
    width: 47%;
  }
}
