.container {
  padding-top: 92px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 32px;
}

.projectTitle {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1.2rem;
}

.socialContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tehnology,
.social {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin-top: 20px;
}

.description {
  margin-top: 24px;
}

@media (min-width: 716px) {
  .project {
    margin: 0 auto;
    min-width: 550px;
    padding: 1rem;
  }
}
