.container {
  padding: 2.62rem 1rem;
  text-align: center;
  font-size: 1.35rem;
  font-weight: 700;
  border-radius: 25px;
  margin: 5rem auto;
  width: fit-content;
}

.container p:nth-of-type(2) {
  color: #2563eb;
}

.socialContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 716px) {
  .container {
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .container {
    font-size: 1.8rem;
  }
}
@media (min-width: 1250px) {
  .container {
    font-size: 1.9rem;
  }
}
