* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
}

.light {
  background-color: #f7f3f3;
  color: black;
}

.black {
  background-color: black;
  color: white;
}
.container {
  padding: 0 28px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
