* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
}

.light {
  background-color: #f7f3f3;
  color: #172135;
}

.dark {
  background-color: #111827;
  color: white;
}

.theme {
  transition: all 1s ease;
}
.container {
  padding: 0 28px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
