.heroTitle {
  font-size: 30px;
  text-align: center;
  margin-top: 52px;
  padding-top: 10px;
}

.heroDescription {
  text-align: justify;
  color: #abadb2;
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  margin: 24px 0;
}

.ticketContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

@media (min-width: 716px) {
  .heroTitle {
    font-size: 2.2rem;
  }
  .heroDescription {
    font-size: 1.4rem;
    margin: 1.5rem 0;
  }
}

@media (min-width: 1024px) {
  .heroTitle {
    font-size: 2.6rem;
  }
  .heroContainer {
    padding: 0rem 4rem;
  }
}
@media (min-width: 1250px) {
  .heroTitle {
    font-size: 2.8rem;
  }
  .heroContainer {
    padding: 0rem 5.5rem;
  }
}
