.container {
  padding-top: 92px;
}

.sectionTitle {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 42px;
}

.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.companyContainer {
  display: flex;
}

.hide {
  display: none;
}

.companyLogo {
  padding: 25px;
  font-size: 30px;
  cursor: pointer;
}

.title {
  font-size: 18px;
}

.dates {
  font-size: 16px;
  color: #6b7280;
  font-weight: 500;
}
.descriptionHeader {
  margin-bottom: 38px;
}

.list {
  display: flex;
  gap: 38px;
  flex-direction: column;
  list-style-type: none;
}

.arrow {
  color: #2563eb;
  font-weight: 700;
  font-size: 20px;
}

.content {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 716px) {
  .experienceContainer {
    flex-direction: row;
  }
  .companyContainer {
    flex-direction: column;
    flex: 1;
  }

  .descripiptionContainer {
    flex: 1;
  }
  .hide {
    display: block;
  }

  .catContainer {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
  .companyInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .companyName {
    font-size: 1rem;
  }

  .companyPosition {
    font-size: 0.8rem;
    color: #6b7280;
  }

  .title {
    font-size: 1rem;
  }
  .dates {
    font-size: 0.8rem;
  }
  .listItem {
    font-size: 1rem;
    text-align: start;
  }

  .arrow {
    font-size: 18px;
  }
}
