.container {
  display: flex;
  gap: 5px;
  padding: 3px 8px;
  border-radius: 3px;
  transition: all 1s;
}

.icon {
  width: 11px;
  height: 12px;
}

.name {
  font-size: 16px;
  font-weight: 400;
}
